<nav class="container">
    <div id="navbar-header" class="hidden-md-up">
        <a  href="/">devctl</a>
        <i class="fa fa-bars fa-2x float-sm-right" aria-hidden="true"></i>
    </div>
    <div id="navbar-body">
        <div>
            <a class="hidden-sm-down" href="/">devctl</a>
        </div>
        <div class=>
            <a href="https://github.com/benjamincaldwell/devctl"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="noHover" href="#">v{{site.data.version.latest}} </a>
        </div>
    </div>
</nav>
