<ul>
  <li >
    <p>Bash</p>
    <ul></ul>
  </li>
  <li >
    <p>Ruby</p>
    <ul>
      <li >
        <p>Sinatra</p>
        <ul>
          <li  ><a href='/ruby/sinatra/Streaming in Sinatra'>Streaming In Sinatra</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li >
    <p>Clusters</p>
    <ul>
      <li >
        <p>Docker-swarm</p>
        <ul>
          <li  ><a href='/clusters/docker-swarm/getting-started'>Getting-started</a></li>
        </ul>
      </li>
      <li >
        <p>Kubernetes</p>
        <ul>
          <li  ><a href='/clusters/kubernetes/Install kubernetes on 1 cpu cluster with kubeadm'>Install Kubernetes On 1 Cpu Cluster With Kubeadm</a></li>
          <li  ><a href='/clusters/kubernetes/Helm'>Helm</a></li>
          <li  ><a href='/clusters/kubernetes/Load Balancing Kubernetes Services with NGINX'>Load Balancing Kubernetes Services With NGINX</a></li>
          <li  ><a href='/clusters/kubernetes/getting-started'>Getting-started</a></li>
          <li  ><a href='/clusters/kubernetes/Running kubernetes locally on a mac'>Running Kubernetes Locally On A Mac</a></li>
          <li >
            <p>Deployments</p>
            <ul>
              <li  ><a href='/clusters/kubernetes/deployments/gitlab runner'>Gitlab Runner</a></li>
            </ul>
          </li>
          <li  ><a href='/clusters/kubernetes/Kubernetes firewall networking'>Kubernetes Firewall Networking</a></li>
        </ul>
      </li>
      <li >
        <p>Coreos</p>
        <ul>
          <li  ><a href='/clusters/coreos/other'>Other</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li >
    <p>Golang</p>
    <ul>
      <li  ><a href='/golang/methods_on_structs'>Methods On Structs</a></li>
      <li  ><a href='/golang/7 common mistakes in Go'>7 Common Mistakes In Go</a></li>
      <li  ><a href='/golang/Idiomatic go tricks'>Idiomatic Go Tricks</a></li>
      <li  ><a href='/golang/API options'>API Options</a></li>
    </ul>
  </li>
  <li >
    <p>Docker</p>
    <ul>
      <li >
        <p>Docker-con-16</p>
        <ul>
          <li  ><a href='/docker/docker-con-16/What is new in Docker 1.12'>What Is New In Docker 1.12</a></li>
          <li  ><a href='/docker/docker-con-16/microservices+events'>Microservices+events</a></li>
          <li  ><a href='/docker/docker-con-16/Docker networking'>Docker Networking</a></li>
          <li  ><a href='/docker/docker-con-16/Dockerfiles'>Dockerfiles</a></li>
          <li  ><a href='/docker/docker-con-16/Docker security'>Docker Security</a></li>
          <li  ><a href='/docker/docker-con-16/Sharding Containers in Golang'>Sharding Containers In Golang</a></li>
        </ul>
      </li>
      <li  ><a href='/docker/how-docker-works'>How-docker-works</a></li>
      <li >
        <p>Docker-con-14</p>
        <ul>
          <li  ><a href='/docker/docker-con-14/File descriptor'>File Descriptor</a></li>
          <li  ><a href='/docker/docker-con-14/consul'>Consul</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li >
    <p>Linux</p>
    <ul>
      <li >
        <p>Commands</p>
        <ul>
          <li  ><a href='/linux/Commands/Umask'>Umask</a></li>
          <li  ><a href='/linux/Commands/strace'>Strace</a></li>
          <li  ><a href='/linux/Commands/lsof'>Lsof</a></li>
        </ul>
      </li>
      <li  ><a href='/linux/Networking on Linux'>Networking On Linux</a></li>
      <li >
        <p>The Linux Programming Interface</p>
        <ul>
          <li  ><a href='/linux/The Linux Programming Interface/6 Processes'>6 Processes</a></li>
          <li  ><a href='/linux/The Linux Programming Interface/5 File I-O- Further Details'>5 File I-O- Further Details</a></li>
          <li >
            <p>Pictures</p>
            <ul>
              <li  ><a href='/linux/The Linux Programming Interface/pictures/57 Sockets- Unix Domain'>57 Sockets- Unix Domain</a></li>
              <li  ><a href='/linux/The Linux Programming Interface/pictures/58 Sockets- Fundametals of TCP-IP Networks'>58 Sockets- Fundametals Of TCP-IP Networks</a></li>
              <li  ><a href='/linux/The Linux Programming Interface/pictures/26 Monitoring Child Processes'>26 Monitoring Child Processes</a></li>
            </ul>
          </li>
          <li  ><a href='/linux/The Linux Programming Interface/3 System Programming Concepts'>3 System Programming Concepts</a></li>
          <li  ><a href='/linux/The Linux Programming Interface/44 PIPES and Fifos'>44 PIPES And Fifos</a></li>
          <li  ><a href='/linux/The Linux Programming Interface/56 Sockets'>56 Sockets</a></li>
          <li  ><a href='/linux/The Linux Programming Interface/4 File I-O- The universal I-O Model'>4 File I-O- The Universal I-O Model</a></li>
        </ul>
      </li>
      <li  ><a href='/linux/file_descriptor'>File Descriptor</a></li>
      <li  ><a href='/linux/Linux Performance Tools'>Linux Performance Tools</a></li>
    </ul>
  </li>
  <li >
    <p>Networking</p>
    <ul>
      <li  ><a href='/networking/status-codes'>Status-codes</a></li>
      <li  ><a href='/networking/ssl-tls'>Ssl-tls</a></li>
      <li  ><a href='/networking/network-layers'>Network-layers</a></li>
      <li  ><a href='/networking/DNS'>DNS</a></li>
      <li  ><a href='/networking/TCP-IP and Subnet Masking'>TCP-IP And Subnet Masking</a></li>
    </ul>
  </li>
  <li >
    <p>Elixir</p>
    <ul>
      <li  ><a href='/elixir/Functional_programming'>Functional Programming</a></li>
    </ul>
  </li>
  <li >
    <p>Git</p>
    <ul>
      <li >
        <p>Gitlab</p>
        <ul>
          <li  ><a href='/git/gitlab/Gitlab ci ssh keys'>Gitlab Ci Ssh Keys</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li >
    <p>Websites</p>
    <ul>
      <li  ><a href='/websites/wcag'>Wcag</a></li>
    </ul>
  </li>
</ul>