html {
    font-size: 16px;
}

hr {
    border: solid 1px #eff0f1;
}

.octicon {
  display: inline-block;
  vertical-align: text-middle;
  fill: currentColor;
}

.full-width {
    width: 100%;
    margin: 0;
}