$black: #424242;
$white: #ffffff;

$color-2: #222222;
$color-4: #444444;
$color-6: #666666;

$color-e: #eeeeee;
$color-f: #ffffff;

$green: #159957;
$red: #fc2d1e;
$blue: #2196F3;
$yellow: #f1c40d;
$magenta: #6171c4;
$cyan: #0095de;
